import {layouts} from './keyboard-layouts';

export const config = {
    login: '',
    password: '',
    token: '',
    telegramToken: '1234567890:fooBARbazBooz',
    layouts: [layouts.EN, layouts.RU],
    mainEnLayout: layouts.EN,
};

type Config = typeof config;

export default config;
